* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.header {
  background-color: rgb(32, 106, 93);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  &__heading {
    color: white;
    font-size: 38px;
  }
}

.main {
  background-color: rgb(32, 106, 93);
  background-image: url('../images/ball.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 800px 800px;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    &--label {
      color: rgb(32, 106, 93);
      font-weight: bold;
      font-size: 35px;
      margin: 5px;
    }
    &--input {
      width: 25%;
      height: 7vh;
      margin: 5px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 16px;
    }
    &--select {
      width: 6%;
      height: 5vh;
      margin: 3.5px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 20px;
    }
    &--button {
      width: 12%;
      height: 5vh;
      margin: 3.5px;
      margin-top: 20px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 35px;
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      font-weight: bold;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 106, 93);
  color: white;
  width: 100%;
  height: 5vh;
  border-top: 2px solid white;
  &__note {
    font-size: 30px;
  }
}
