* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.header {
  background-color: rgb(32, 106, 93);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  &__heading {
    color: white;
    font-size: 38px;
  }
}

.main {
  background-color: rgb(32, 106, 93);
  width: 100%;
  height: 85vh;
  background-image: url('../images/ball.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 800px 800px;
  &__image {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(255, 255, 77);
    animation: main__image 2s ease-in;
  }
  &__new {
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    animation: main__form 3s ease-out;
    &--new {
      width: 14%;
      height: 6vh;
      margin: -40px 0 3.5px 0;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 20px;
      font-size: 27px;
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      font-weight: bold;
      transition: 0.7s transform ease-in, 0.7s background-color ease-in,
        0.7s border-radius ease-in;
      &:hover {
        background-color: rgb(21, 70, 61);
        transform: scale(1.1);
        border-radius: 50px;
      }
    }
    &--label {
      color: rgb(32, 106, 93);
      font-weight: bold;
      font-size: 35px;
      margin: 5px;
    }
    &--input {
      width: 25%;
      height: 7vh;
      margin: 5px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 16px;
    }
    &--select {
      width: 6%;
      height: 5vh;
      margin: 3.5px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 20px;
    }
    &--button {
      width: 12%;
      height: 6vh;
      margin: 3.5px;
      margin-top: 20px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 20px;
      font-size: 35px;
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      font-weight: bold;
      transition: 0.7s transform ease-in, 0.7s background-color ease-in,
        0.7s border-radius ease-in, 0.7s font-size ease-in;
      &:hover {
        background-color: rgb(21, 70, 61);
        transform: scale(1.1);
        border-radius: 50px;
        font-size: 37px;
      }
    }
  }
}

@keyframes main__image {
  0% {
    position: absolute;
    right: 100%;
    bottom: 93%;
    opacity: 1;
  }
  50% {
    right: 75%;
    bottom: 0%;
    opacity: 1;
    transform: scale(5);
  }
  75% {
    right: 62.5%;
    bottom: 25%;
    opacity: 0.5;
    /* transform: scale(6); */
  }
  100% {
    right: 50%;
    bottom: 50%;
    opacity: 0;
    transform: scale(9);
  }
}

@keyframes main__form {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 106, 93);
  color: white;
  width: 100%;
  height: 5vh;
  border-top: 2px solid white;
  &__note {
    font-size: 30px;
  }
}
