* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.header {
  background-color: rgb(32, 106, 93);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  &__heading {
    color: white;
    font-size: 20px;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
    @media all and (min-width: 1200px) {
      font-size: 40px;
    }
  }
}

.main {
  background-color: rgb(32, 106, 93);
  width: 100%;
  height: 80vh;
  background-image: url('../images/ball.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 400px 400px;
  @media all and (min-width: 768px) {
    background-size: 570px 570px;
    height: 85vh;
  }
  @media all and (min-width: 1200px) {
    background-size: 700px 700px;
  }
  &__landing {
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80vh;
      animation: main__annimation 3s ease-out;
      @media all and (min-width: 768px) {
        height: 85vh;
      }
    }
    &--paragraph {
      color: rgb(32, 106, 93);
      width: 240px;
      font-weight: bold;
      font-size: 19px;
      margin: 10px;
      @media all and (min-width: 768px) {
        font-size: 22px;
        width: 390px;
        margin-bottom: 20px;
      }
    }
    &--button {
      width: 240px;
      height: 40px;
      margin-bottom: 10px;
      padding-bottom: 40px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 20px;
      font-size: 25px;
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      font-weight: bold;
      transition: 0.7s transform ease-in, 0.7s background-color ease-in,
        0.7s border-radius ease-in;
      &:hover {
        background-color: rgb(21, 70, 61);
        transform: scale(1.1);
        border-radius: 50px;
      }
      @media all and (min-width: 768px) {
        width: 250px;
        height: 50px;
        padding-bottom: 36px;
        background-color: rgb(32, 106, 93);
        color: rgb(255, 204, 41);
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 250px;
        height: 50px;
      }
    }
  }
  &__image {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(255, 255, 77);
    animation: main__image 2s ease-in;
    @media all and (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
    @media all and (min-width: 1200px) {
      width: 50px;
      height: 50px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    animation: main 3s ease-out;
    @media all and (min-width: 768px) {
      height: 85vh;
    }
    &--label {
      color: rgb(32, 106, 93);
      font-weight: bold;
      font-size: 25px;
      @media all and (min-width: 768px) {
        font-size: 30px;
        margin: 3px;
      }
      @media all and (min-width: 1200px) {
        font-size: 35px;
        margin: 5px;
      }
    }
    &--labelPlayer {
      margin-top: 45px;
      @media all and (min-width: 768px) {
        margin-top: 75px;
      }
    }
    &--input {
      width: 240px;
      height: 40px;
      margin: 2px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 15px;
      @media all and (min-width: 768px) {
        font-size: 17px;
        margin: 7px;
        width: 330px;
      }
      @media all and (min-width: 1200px) {
        font-size: 19px;
        margin: 5px;
        width: 340px;
      }
    }
    &--select {
      width: 90px;
      height: 40px;
      margin: 2px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 6px;
      font-size: 15px;
      @media all and (min-width: 768px) {
        font-size: 17px;
        margin: 7px;
        width: 100px;
      }
      @media all and (min-width: 1200px) {
        font-size: 19px;
        margin: 5px;
        width: 110px;
      }
    }
    &--button {
      width: 100px;
      height: 10px;
      margin: 5px 0 3.5px 0;
      padding-bottom: 30px;
      border: 4px solid rgb(90, 90, 90);
      border-radius: 20px;
      font-size: 20px;
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      font-weight: bold;
      transition: 0.7s transform ease-in, 0.7s background-color ease-in,
        0.7s border-radius ease-in;
      &:hover {
        background-color: rgb(21, 70, 61);
        transform: scale(1.1);
        border-radius: 50px;
      }
      @media all and (min-width: 768px) {
        width: 120px;
        height: 20px;
        margin: 12px 0 3.5px 0;
        padding-bottom: 35px;
        font-size: 23px;
      }
      @media all and (min-width: 1200px) {
        width: 130px;
        height: 40px;
        margin-top: 25px;
        font-size: 28px;
        padding-bottom: 40px;
      }
    }
    &--errorMessage {
      color: red;
      font-weight: bold;
    }
    &--link {
      color: rgb(255, 204, 41);
      margin-top: 10px;
      @media all and (min-width: 768px) {
        margin-top: 60px;
        font-size: 20px;
      }
      @media all and (min-width: 1200px) {
        margin-top: 80px;
        font-size: 20px;
      }
    }
  }
}

@keyframes main__image {
  0% {
    position: absolute;
    right: 100%;
    bottom: 93%;
    opacity: 1;
  }
  50% {
    right: 75%;
    bottom: 0%;
    opacity: 1;
    transform: scale(5);
  }
  75% {
    right: 62.5%;
    bottom: 25%;
    opacity: 0.5;
    /* transform: scale(6); */
  }
  100% {
    right: 50%;
    bottom: 50%;
    opacity: 0;
    transform: scale(9);
  }
}

@keyframes main__annimation {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.newTournament {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  &__heading {
    color: rgb(255, 204, 41);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 33px;
      margin: 10px 0 20px 0;
      color: rgb(32, 106, 93);
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    margin: 10px 0 3.5px 0;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 20px;
    font-size: 22px;
    background-color: rgb(32, 106, 93);
    color: rgb(255, 204, 41);
    font-weight: bold;
    transition: 0.7s transform ease-in, 0.7s background-color ease-in,
      0.7s border-radius ease-in;
    &:hover {
      background-color: rgb(21, 70, 61);
      transform: scale(1.1);
      border-radius: 50px;
    }
    @media all and (min-width: 768px) {
      margin: 20px 0 3.5px 0;
      font-size: 25px;
    }
  }
  &__paragraph {
    color: rgb(32, 106, 93);
    width: 240px;
    font-weight: bold;
    font-size: 19px;
    margin: 15px;
    @media all and (min-width: 768px) {
      font-size: 25px;
      width: 390px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 65px;
    border: 4px solid rgb(255, 204, 41);
    border-radius: 20px;
    color: rgb(255, 204, 41);
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
    @media all and (min-width: 768px) {
      color: rgb(32, 106, 93);
      border: 4px solid rgb(32, 106, 93);
      width: 90px;
      height: 70px;
      margin: 8px 0 18px 0;
    }
    @media all and (min-width: 1200px) {
      width: 110px;
      height: 90px;
      margin: 15px;
    }
  }
  &__comment {
    color: rgb(32, 106, 93);
    width: 180px;
    @media all and (min-width: 768px) {
    }
  }
  &__link {
    color: rgb(255, 204, 41);
    margin-top: 2px;
    @media all and (min-width: 1200px) {
      margin-top: 75px;
      font-size: 20px;
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  &__heading {
    color: rgb(32, 106, 93);
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
    @media all and (min-width: 768px) {
      font-size: 35px;
      margin: 10px 0 50px 0;
    }
  }
  &__paragraph {
    color: rgb(32, 106, 93);
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    margin: 12px;
    @media all and (min-width: 768px) {
      font-size: 20px;
      width: 400px;
    }
  }
  &__select {
    width: 100px;
    height: 40px;
    margin: 10px;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 6px;
    font-size: 19px;
    @media all and (min-width: 768px) {
      width: 130px;
    }
  }
  &__confirmation {
    width: 120px;
    height: 40px;
    margin: 8px 0 3px 0;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(32, 106, 93);
    color: rgb(255, 204, 41);
  }
  &__button {
    width: 210px;
    height: 40px;
    margin: 30px 0 3.5px 0;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(255, 204, 41);
    color: rgb(32, 106, 93);
    font-weight: bold;
    @media all and (min-width: 768px) {
      background-color: rgb(32, 106, 93);
      color: rgb(255, 204, 41);
      margin: 20px 0 3.5px 0;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 106, 93);
  color: white;
  width: 100%;
  height: 10vh;
  border-top: 2px solid white;
  @media all and (min-width: 768px) {
    height: 5vh;
  }
  &__note {
    font-size: 10px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
}
